* {
  box-sizing: border-box;
}

body {
  --cellWidth: 20px;
  --cellHeight: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

.info {
  margin: 10px auto;
  width: max-content;
}

button {
  height: 2rem;
  width: 6rem;
  background-color: #007bff ;
  border: 2px solid #007bff ;
  color: #ffffff;
	border-radius: 5px;
	padding: 10px;
	margin: 15px;
	padding-bottom: 30px;
	font-size: 89.9%;
}

.score {
  margin: 0 auto;
  width: fit-content;
  font-size: 2rem;
}

.board {
  width: calc(var(--cellWidth) * 20.1);
  height: calc(var(--cellHeight) * 15);
  margin: 10px auto;
  border: 1px solid rgb(0, 0, 0);
  border-right: none;
  border-top: none;
}

.cell {
  float: left;
  background-color: rgb(21, 112, 85);
  width: var(--cellWidth);
  height: var(--cellHeight);
  margin: 0;
  padding: 0;
  border: 1px solid rgb(0, 0, 0);
  border-left: none;
  border-bottom: none;
}

.snake-head__first-position, .snake-head__second-position {
  background-color: rgb(222, 177, 51);
}

.snake-head__first-position::before {
  content: "";
  background-color: yellow;
  border: solid 1px black;
  border-radius: 50%;
  position: relative;
  width: 5px;
  height: 5px;
  display: block;
  top: 11px;
  left: 8px;
}

.snake-head__first-position::after {
  content: "";
  background-color: yellow;
  border: solid 1px black;
  border-radius: 50%;
  position: relative;
  width: 5px;
  height: 5px;
  top: -5px;
  left: 8px;
  display: block;
}

.snake-head__second-position::before {
  content: "";
  background-color: yellow;
  border: solid 1px black;
  border-radius: 50%;
  position: relative;
  width: 5px;
  height: 5px;
  display: block;
  top: 7px;
  left: 2px;
}

.snake-head__second-position::after {
  content: "";
  background-color: yellow;
  border: solid 1px black;
  border-radius: 50%;
  position: relative;
  width: 5px;
  height: 5px;
  top: 0px;
  left: 11px;
  display: block;
}

.hasSnake {
  background-color: rgb(247, 36, 36);
}

.hasSnakeHead {
  background-color: rgb(222, 177, 51);
}

.food {
  background-color: rgb(163, 20, 163);
}


#game-over {
  position: absolute;
  justify-content: center;
  top: 350px;
  left: -888px;
  right: -888px;
  font-size: 4rem;
  color: rgb(224, 223, 233);
  font-weight: 900;
  animation: blinking 1.2s forwards;
  display: none;
  text-align: center;
}

button:hover:enabled{
	border-color: #007bff;
	background-color: #fff;
	color: #007bff;
}

button:disabled{
	color: #887474;
	background-color: #111f6a;
	border-color: #111f6a;
}

.btn-start{
	margin-right: 0px;
	margin-left: 22px;
}

.btn-newGame{
	margin-left: 0px;
}

.scores{
	text-align: center;
	border: 2px solid black;
	margin: 20px;
	border-radius: 5px;
}

.score{
	display: inline-block;
	text-align: center;
	margin: 20px;
}

@keyframes blinking {
  0%,
  30%,
  60%,
  100% {
    opacity: 1;
  }
  15%,
  45%,
  75% {
    opacity: 0;
  }
}
